/* 
Taner Albayrak
Taner_Albayrak@student.uml.edu
Assignment 6
*/

.tab {
    border: 1px solid black ;
    margin-left: 100px ;
}

.tab thead th {
    border: 1px solid black;
    background-color: yellow;
    
}

.tab tbody td {
    border: 1px solid black ;
    color: black ;
}

/*colors the first row yellow */
.tab tbody td:first-child {
    background-color: yellow ;
}
